---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import SignatureDivider from '../components/SignatureDivider.astro';
import Formation from '../components/Formation.astro';
import Skills from '../components/Skills.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <About />
    <SignatureDivider />
    <Formation />
    <Skills />
    <!-- Sections à venir : CP5+ -->
  </main>
</BaseLayout>
